@font-face {
  font-family: 'pretendard';
  src: url('../font/PretendardVariable.ttf');
}

* {
  font-family: 'pretendard';
  -webkit-tap-highlight-color: transparent;
}

.border-left-radius {
  border-bottom-left-radius: 10px !important;
  border-top-left-radius: 10px !important;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.border-right-radius {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-right-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

*::-webkit-scrollbar {
  display: none;
}

.hover-event {
  cursor: pointer;
  user-select: none;
}

.hover-event-to-blurr:hover {
  cursor: pointer;
  user-select: none;
  opacity: 0.3;
}

.change-color-to-black:hover {
  color: #000000;
}

.change-color-to-orange:hover {
  color: #FF5C00;
}

.click {
  width: "60%",
}


.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-window {
  background-color: #fff;
  position: relative;
  border: none;
  width: 150px;
  height: 190px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.info-window > img {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 151px;
  height: 151px;
}

.info-window > div {
  background-color: #DFD3CA;
  position: absolute;
  bottom: 0;
  left: -1px;
  color: #000;
  height: 40px;
  padding: 10px;
  width: 151px;

  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.line-break {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-card:hover {
  cursor: pointer;
    transform: scale(1.02);
}