.border-left-radius {
  border-bottom-left-radius: 10px!important;
  border-top-left-radius: 10px!important;
  border-bottom-right-radius: 0!important;
  border-top-right-radius: 0!important;
}

.border-right-radius {
  border-bottom-left-radius: 0!important;
  border-top-left-radius: 0!important;
  border-bottom-right-radius: 10px!important;
  border-top-right-radius: 10px!important;
}

*::-webkit-scrollbar{
  display: none;
}