@font-face {
  font-family: "Pretendard";
  src: url("../font/PretendardVariable.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cafe24Ssurround";
  src: url("../font/Cafe24Ssurround.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url("../font/Cafe24SsurroundAir.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Pretendard";
}

.border-left-radius {
  border-bottom-left-radius: 10px !important;
  border-top-left-radius: 10px !important;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.border-right-radius {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-right-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

*::-webkit-scrollbar {
  display: none;
}

.hover-event {
  cursor: pointer;
  user-select: none;
}

.hover-event-to-blurr:hover {
  cursor: pointer;
  user-select: none;
  opacity: 0.3;
}

.make-it-blurr {
  cursor: none;
  user-select: none;
  opacity: 0.3;
}

.change-color-to-black:hover {
  color: #000000;
}

.change-color-to-orange:hover {
  color: #ff5c00;
}

.click {
  width: "60%";
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-window {
  background-color: #fff;
  position: relative;
  border: none;
  width: 150px;
  height: 190px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.info-window > img {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 151px;
  height: 151px;
  transform: translate(50, 50);
  object-fit: cover;
  margin: auto;
}

.info-window > div {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: -1px;
  color: #000;
  height: 40px;
  padding: 10px;
  width: 151px;
  font-family: "Pretendard";
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.line-break {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-card:hover {
  cursor: pointer;
  transform: scale(1.02);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.iphone-scroll-block {
  -webkit-overflow-scrolling: touch;
}