.bubble-left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #fff;
    border-right: 10px solid transparent;
    border-top: 12px solid #fff;
    border-bottom: 15px solid transparent;
    left: -6px;
    bottom: -18px;
    transform: rotate(35deg);
}

.bubble-right:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-right: 10px solid #FFEF82;
    border-left: 10px solid transparent;
    border-top: 15px solid #FFEF82;
    border-bottom: 15px solid transparent;
    right: -6px;
    bottom: -17px;
    transform: rotate(-35deg);
}